body {
	font-family: Arial, "Times New Roman", Serif;
	padding: 5% 0 5% 0;
	background-color: #42f483;
}

div {
	background-color: #c9c9c9;
	border: 1px solid white;
}

.highlight {
	border: 2px solid green;
}

#question, #answer {
	min-height: 250;
}

img.img-edit, img.img-save, img.img-clear
{
	width: 10px;
	height: 10px;
}

img.img-download, img.img-delete {
	width: 20px;
	height: 20px;
}


button{
	font-weight: bold;
	margin: 5px 0 5px 0;
}

#right > button {
	color: green;
}

#wrong > button {
	color: red;
}

.noDisplay {
	display: none;
}

#edit {
	display: none;
	margin-top: 10px;
	padding-top: 10px;
}

#edit .edit-topic {
	margin-bottom: 20px;
}